header {background-color: pink;}
footer {background-color: pink;}
body {text-align: center;}
        ul {padding-left: 0;}
        body {background-image: url("./images/BG.jpg")}
        p {font-size:30px;}
        body {font-family: "Oswald", sans-serif;}
        